@import "../../theme/variables.scss";

.centralizado { 
    padding-top: 50%;
    height: 60%;
}
.background {
    background-color: #dcc7be;
}
.botao {
    background-color: #0b4f6c;
}
.botao2 {
    background-color: #140c9e;
}