.classe {
    height: 58%;
    background-color: #dcc7be;
}
.bg-user {
    background-color: #145c9e;
}
.saida {
    background-color: red;
}
.entrada {
    background-color: chartreuse;
}
.bg-button {
    background-color: #dcc7be;
}